#AuthType Basic
#AuthName "Password Protected Area"
#AuthUserFile /usr/domains/tedirens.com/admin/.htpasswd
#Require valid-user

SetEnv   LC_ALL  en_US.UTF-8

php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on

php_value upload_max_filesize 512M
php_value post_max_size 512M
php_value max_input_vars 2000

RewriteEngine on

RewriteRule ^confirm/(.+)$ index.php?route=confirm&code=$1%{QUERY_STRING} [L]
RewriteRule ^listen/(.+)$  index.php?route=listen&stream_id=$1%{QUERY_STRING} [L]

RewriteRule ^modules/(.+)/(.+)\.(.+)$  index.php?route=module&type=$1&name=$2&%{QUERY_STRING} [L]
RewriteRule ^modules/(.+)$  index.php?route=module&type=exec&name=$1&%{QUERY_STRING} [L]

# Redirect All
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
